.tabs__content {
  width: 16rem;
  height: 16rem;
  border: 1px solid black;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}

.active{
  background-color: #eb9494;
  color: rgb(236, 14, 14);
  border-bottom: none;
}
