.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signal {
  height: 12rem;
  width: 12rem;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1rem;
}
