.container-game {
  border: 2px solid black;
  display: grid;
}

.cell {
  /* border: 0.1px solid black; */
}

.food {
  background-color: red;
  border-radius: 50%;
}

.snake {
  background-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start{
  display: block;
  width: 100%;
  height: 45.5%;
  font-size: 145px;
  background-color: green;
  color: white;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.buttons button{
  height: 50px;
  font-size: 20px;
  background-color: rgb(84, 194, 84);
  color: white;
}

.up button{
  width: 216px;
}

.down button{
  width: 216px;
}

button{
  margin-top: 5px;
}

.leftright button{
  width: 100px;
}

.user{
  width: 97%;
  height: 20%;
  font-size: xx-large;
}

