.container-game {
  border: 2px solid black;
  display: grid;
}

.cell {
  /* border: 0.1px solid black; */
}

.food {
  background-color: red;
  border-radius: 50%;
}

.snake {
  background-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start{
  display: block;
  width: 100%;
  height: 45.5%;
  font-size: 145px;
  background-color: green;
  color: white;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}