* {
  margin: 0;
  padding: 0;
}

img {
  height: 800px;
  width: 100%;
}

.container{
  position: relative;
}

.left-btn,
.right-btn{
  position: absolute; 
  background-color: cadetblue;
  top: 50%;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.left-btn{
  left: 0;
}

.right-btn{
  right: 0;
}