.container{
  border-left: 2px solid #000;
  padding-left: 1rem;
  margin-left: 10px;
  
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282831;
}

h3{
  /* color: #000;
  font-weight: bold; */
  margin : 0.5rem;
  cursor : pointer;
  color :bisque;
}
