.App {
  text-align: center;
}

.container{
  display: grid;
  width: 17rem;
  height: 17rem;
  margin: 17px;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.cell{
  width: 5rem;
  height: 5rem;
  border: 1px solid rgb(255, 255, 255);
}

.active{
  background-color: rgb(37, 170, 130)
}